:root {
    --grey-100: #FEFEFE;
    --grey-200: #FCFEFF;
    --grey-400: #97999D;
    --grey-500: #96979B;
    --grey-600: #6E7177;
    --grey-700: #232428;
    --grey-800: #13171A;
    --grey-900: #131617;
    --shadow: 0 4px 4px #FFFFFF25;
}